body {
  width: min(90%, 30em);
  margin: auto;
}

h1 {
  text-align: center;
}

.element {
  aspect-ratio: 8;
  border-radius: 0.2em;
  background-color: blue;
  color: white;
  width: 100%;
  font-size: min(1.5em, 5vw);
  border-style: none;
  margin-block: 0.2rem;
  text-align: center;
}

.element-row > .element {
  aspect-ratio: 4;
}

button.element {
  background-color: green;
}

.element span {
  vertical-align: middle;
  display: table-cell;
  font-family: system-ui
}

p.element {
  display: table;
}

.element-row {
  display: flex;
  gap: 0.5em;
}
